<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container mt-4">
    <% if(items.length === 0) { %>
        <p class="alert alert-danger text-center">There are no items in your cart</p>
    <% } else { %>
        <% if(validationErrors) { %>
            <p class="alert alert-danger">
                <%= validationErrors.msg %>
            </p>
        <% } %>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Total</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < items.length; i++) { %>
                    <tr>
                        <th scope="row"><%= i + 1 %></th>
                        <td><%= items[i].name %></td>
                        <td><%= items[i].price %> $</td>
                        <form method="POST">
                            <td>
                                <input type="number" name="amount" class="form-control" value="<%= items[i].amount %>">
                            </td>
                            <td><%= (items[i].price * items[i].amount).toFixed(2) %> $</td>
                            <td>
                                <input type="hidden" name="cartId" value="<%= items[i]._id %>">
                                <input type="submit" class="btn btn-success btn-sm" value="Save" formaction="/cart/save">
                                <a class="btn btn-primary btn-sm" href="/verify-order?order=<%= items[i]._id %>"> Order </a>
                                <input type="submit" class="btn btn-danger btn-sm" value="Delete" formaction="/cart/delete">
                            </td>
                        </form>
                    </tr>
                <% } %>
            </tbody>
        </table>

        <!-- Delete All Button -->
        <div class="text-right">
            <form method="POST" action="/cart/deleteAll">
                <input type="submit" class="btn btn-danger btn-lg" value="Delete All">
            </form>
        </div>
    <% } %>
</div>

<%- include('parts/footer') %>
