<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container p-1">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= pageTitle === 'Home' ? 'active' : '' %>">
                <a class="nav-link" href="/">Home</a>
            </li>
            <% if(isUser) { %>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Cart' ? 'active' : '' %>" href="/cart">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Orders' ? 'active' : '' %>" href="/orders">Orders</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Login' ? 'active' : '' %>" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Sign Up' ? 'active' : '' %>" href="/signup">Sign Up</a>
                </li>
            <% } %>
            <% if(isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Add Product' ? 'active' : '' %>" href="/admin/add">Add product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= pageTitle === 'Manage Orders' ? 'active' : '' %>" href="/admin/orders">Manage orders</a>
                </li>
            <% } %>
        </ul>
        <% if(isUser) { %>
            <form action="/logout" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </button>
            </form>
        <% } %>
        </div>
    </div>
</nav>